{% macro render_blog_post(post, from_index=false) %}
<div class="container p-4">
  <div class="col-lg-8 m-auto">
    <article class="py-3">
      <header class="mb-4">
        {% if from_index %}
        <h2 class="display-6 mb-3"><a href="{{ post|url }}">{{ post.title }}</a></h2>
        {% else %}
          <h2 class="display-6 mb-3">{{ post.title }}</h2>
        {% endif %}
        <p class="lead mb-4">{{ post.lead }}</p>
        <p>
          Oleh
          {% if post.twitter_handle %}
            <a href="https://twitter.com/{{ post.twitter_handle }}">{{ post.author or post.twitter_handle }}</a>
          {% else %}
            {{ post.author }}
          {% endif %}
          - {{ post.pub_date }}
        </p>
      </header>
      <div class="mb-4">
        {{ post.body }}
      </div>
    </article>
  </div>
</div>





    

{% endmacro %}
