{% macro render_pagination(pagination) %}
<nav class="mt-4">
  <ul class="justify-content-center m-0 pagination">

  <li class="page-item">
    {% if pagination.has_prev %}
      <a class="page-link" href="{{ pagination.prev|url }}">Sebelumnya</a>
    {% else %}
      <span class="disabled">Sebelumnya</span>
    {% endif %}
  </li>


  <li class="page-item">
    {{ pagination.page }}
  </li>
    

  <li class="page-item">
    {% if pagination.has_next %}
      <a class="page-link" href="{{ pagination.next|url }}" rel="next" title="Go to the next page">Selanjutnya</a>
    {% else %}
    <span class="disabled">Selanjutnya</span>
    {% endif %}
  </li>
    
  </ul>
</nav>

{% endmacro %}
